<html>
<head>
  <title>JD's Flashcard Dance</title>
  <link rel="stylesheet" href="../../public/css/normalize.css">
  <link rel="stylesheet" href="../../public/css/application.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <div class='container'>
    <h1>Welcome to JD's Flashdance Flashcard Extravaganza!</h1>
    <h2>Pick a flashcard deck:</h2>
    <form action="/decks/1/:card" method="post">
      <input type="button" name="Deck1" value="Deck1"><br>
    <form action="/decks/2/:card" method="post">
      <input type="button" name="Deck2" value="Deck2"><br>
    <form action="/decks/3/:card" method="post">
      <input type="button" name="Deck3" value="Deck3"><br>
    <form action="/decks/4/:card" method="post">
      <input type="button" name="Deck4" value="Deck4"><br>
      <!-- <input button type="submit" value="Select" /> -->
    </form>
  </div>
</body>
</html>
