<html>
<head>
  <title>JD's Flashcard Dance</title>
  <link rel="stylesheet" href="../../public/css/normalize.css">
  <link rel="stylesheet" href="../../public/css/application.css">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
</head>
<body>
  <div class='container'>
    <form action="/decks/1/1" method="post">
      <div class="topbar">
        <h1>Welcome to JD's Flashdance Flashcard Extravaganza!</h1>
      </div>
      <input type="button" name="Deck1" value="Learn Czech!"><br>
      <input button type="submit" value="Select" />
    </form>

  <div class="bottombar">
    <p>Created by:</p>
    <a href="https://github.com/aamharris">Aaron</a>
    <a href="https://github.com/hanieldanson">Daniel</a>
    <a href="https://github.com/elm0829">Edward</a>
    <a href="https://github.com/thejdavid">JD</a>
  </div>
  </div>
</body>
</html>
