<div class='container'>
  <h1>Welcome to JD's Flashdance Flashcard Extravaganza! Pick a flashcard deck:</h1>
  <form action="/decks/1/:card" method="post">
    <input type="radio" name="Deck1" value="Deck1">Deck 1<br>
  <form action="/decks/2/:card" method="post">
    <input type="radio" name="Deck2" value="Deck2">Deck 2<br>
  <form action="/decks/3/:card" method="post">
    <input type="radio" name="Deck3" value="Deck3">Deck 3<br>
  <form action="/decks/4/:card" method="post">
    <input type="radio" name="Deck4" value="Deck4">Deck 4<br>
    <input button type="submit" value="Select" />
  </form>
</div>



