<div class="container">
  <h1>JD Flash Dance!</h1>
  <p>An Online Flash Card Game</p>

  <form action="/" method="post">
  Enter a user name to begin:<br>
  <input type="text" name="name" value="<%= @user.name %>"><br>
  <input type="submit" value="Start Playing!" />
  </form>

</div>
